[mysqld]
# before initialization
lower_case_table_names = 1

# enable bin log
log_bin = mysql-bin
binlog_format = ROW
expire_logs_days = 30

# tx isolation level
transaction-isolation = READ-COMMITTED